
body {
    margin: 0;
    text-align: center;
}

table {
    width: 300px;
    text-align: left;
    margin: 32px;
    border-collapse: collapse;
}

form > *, button {
    margin: 4px;
}

th, td {
    padding: 4px;
}

table tr:not(:last-child) {
    border-bottom: 1px black solid
}

#page-container {
    display: flex;
    align-content: center;
    height: 100vh;
    align-items: center;
    justify-content: center;
}

#toast {
    position: absolute;
    top: 16px;
    right: 16px;
    width: 200px;
    background-color: darkorange;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 25px;
    transition: opacity 1s;
    padding: 16px;
 }